@charset "utf-8";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

$COLOR_POST: #c00;

html{
  background: #000;
}

#letter-back{

  // width: 3321px;
  // height: 1736px;
  background: url(https://rilmayer.github.io/line-post/images/bg.png);

  >*{
    height: 100%;
    // display: inline-block;
    margin: 0;
    font-size: 32px;
  }

  .sender-message{
    // width: 1660px;
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: #ccc;
    p{
    }
  }

  .sender-address{
    // width: 1660px;
    background-color: #fff;
  }

}
