@charset "utf-8";
// @import "material-icons";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

$color-base: #fafafa;
$color-main: #210;
$color-acce: #C90;

html{
  background: $color-acce;
  font-size: 10px;
  @media (max-width: 480px){ font-size: 8.75px }
}

body{
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: rgba($color-main,.7);
  font: 1.6rem/1.8 'Sawarabi Mincho', sans-serif;
  font-feature-settings : "pwid";
}

a{
  color: lighten($color-acce,5%);
  &:hover, &:sctive, &:visited {
    color: darken($color-acce, 10%);
  }
}

.cta{
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: .1em;
  text-indent: 2.8em;
  display: block;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background: rgba($color-main,.5);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: .3s ease;
  margin: 2.4rem auto 0;
  @media (max-width: 480px){
    width: 80%;
  }
  img{
    width: 3rem;
    height: 3rem;
    margin-left: .5em;
    vertical-align: middle;
    opacity: .4;
  }
  &:hover,&:active{
    transform: scale(1.03);
    background: $color-acce;
  }
}

@keyframes splash{
    0% { opacity: 1 }
  100% { opacity: 0 }
}
header{
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top:  25vh;
  .logo{
    width: 40rem;
    position: absolute;
    top: 40%;
    left: calc(50% - 20rem);
    filter: drop-shadow(0 0 8px rgba($color-main,.2));
    @media (max-width: 480px){
      width: 80%;
      left: 10%;
    }
  }
  .splash{
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/paper.png);
    background-size: 144px;
    pointer-events: none;
    animation: splash 1s ease 2s forwards;
    @media (max-width: 480px){
      animation: splash .5s ease .5s forwards;
    }
  }
  p{
    color: rgba($color-main,.4);
    font-weight: bold;
    font-size: 1.8rem;
    margin: 4rem auto 0;
    letter-spacing: .2em;
    text-indent: .8em;
    @media (max-width: 320px){
      letter-spacing: 0;
    }
  }
  .cta{
    position: absolute;
    bottom: 25vh;
    left: calc(50% - 15rem);
    @media (max-width: 480px){
      left: 10%;
    }
  }
  &::before, &::after{
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    border: 4px solid #000;
    position: absolute;
    opacity: .1;
  }
  &::before{
    top: 10vw;
    left: 10vw;
    border-width: 8px 0 0 8px;
  }
  &::after{
    bottom: 10vw;
    right: 10vw;
    border-width: 0 8px 8px 0;
  }
}

section{
  background-image: url(../images/paper.png);
  background-size: 144px;
  padding: 10rem calc(50% - 600px);
  @media (max-width: 1296px){
    padding: 8rem 48px;
  }
  @media (max-width: 480px){
    padding: 6rem 16px;
  }
  &:nth-child(odd){
    background-image: url(../images/paper-2.png);
  }
  h2{
    margin: 0;
    color: $color-acce;
    border-left: 4px solid $color-acce;
    padding: 2rem 1.6rem 1rem;
    font-size: 2.2rem;
  }
  p{
    text-align: justify;
  }
  .lead{
    text-align: center;
    letter-spacing: .1em;
    opacity: .8;
    margin: 0;
    br{
      display: none;
      @media (max-width: 480px){
        display: inline;
      }
    }
  }
  &#what{
    overflow: auto;
    img{
      float: right;
      margin-top: 2rem;
      width: 40rem;
      border-radius: 4px;
      @media (max-width: 768px){
        float: none;
        width: 70%;
      }
      @media (max-width: 480px){
        width: 100%;
      }
    }
    div{
      width: calc(100% - 44rem);
      float: left;
      @media (max-width: 768px){
        float: none;
        width: 100%;
      }
    }
    em{
      font-weight: bold;
      font-size: 1.2em;
      font-style: normal;
    }
    p:nth-of-type(1)::first-letter{
      font-size: 2.8em;
      line-height: 1;
      float: left;
      margin: 0 .2em 0 0;
      padding: .1em 0 0;
    }
  }
  &#system{
    img{
      width: 100%;
      margin-top: 2rem;
      border-radius: 4px;
    }
    em{
      font-style: normal;
      font-weight: bold;
    }
  }
  &#howto{
    ol{
      counter-reset: howto;
      list-style: none;
      padding: 0;
      margin-top: 3rem;
    }
    li{
      margin-top: 2rem;
      &:before {
        display: inline-block;
        counter-increment: howto;
        content: counter(howto);
        font-family: 'Times New Roman', Times, serif;
        color: rgba(#fff,.6);
        font-weight: bold;
        font-size: 1.4em;
        width: 2.4rem;
        height: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        background: $color-acce;
        vertical-align: top;
        margin-right: .4rem;
       }
    }
    p{
      margin: 0;
      display: inline-block;
      width: calc(100% - 4rem);
    }
  }
}

footer{
  text-align: center;
  padding: 6rem 16px 8rem;
  color: #fff;
  background-color: $color-acce;
  background-image: url(../images/symbol-white.png);
  background-position: bottom -3rem left -2rem;
  background-size: 32rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  p{
    letter-spacing: .05em;
    font-weight: bold
  }
  a{
    color: #fff;
  }
  br{
    display: none;
    @media (max-width: 480px){
      display: inline;
    }
  }
  ul{
    list-style: none;
    margin: 2rem auto 0;
    padding: 0;
  }
  li{
    opacity: .6;
    &:hover{ opacity: .8; }
  }
  small{
    display: block;
    margin: 4rem auto 0;
  }
}
