@charset "utf-8";
@import "material-icons";
@import "normalize";

$color-base: #fafafa;
$color-main: #322;
$color-acce: #f00;

body{
  background: $color-base;
  color: $color-main;
}

main{
  max-width: 1200px;
  width: calc(100% - 32px);
  margin: 0 auto;
}
